<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripian.gyg">

    <application>

        <activity
            android:name="com.tripian.gyg.ui.ACExperiences"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.gyg.ui.ACExperienceDetail"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.gyg.ui.ACExperienceMore"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.gyg.ui.ACExperienceReviews"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.gyg.ui.book.ACBook"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>